/* src/components/Project.css */

#projects {
    padding: 40px 20px;

    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .carousel {
    position: relative;
    display: inline-block;
    margin: 0 auto;
  }
  
  .carousel-slide {
    position: relative;
  }
  
  .carousel-slide img {
    object-fit: cover;
    height: 400px;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    width: calc(60% - 20px);
  }
  
  .carousel-caption h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .view-details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .view-details-button:hover {
    background-color: #0056b3;
  }
  
  .divider-end{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 40px 0; /* Yukarı ve aşağı boşluk */
  }
  