/* App.css */
.app {
  display: flex;
  flex-direction: column;
  background: url('../src/images/Main-background.png') no-repeat center center fixed;
  background-size: cover; 
}

.content {
  margin-left: 20%; 

  min-height: 100vh; 

  padding: 20px; 
  border-radius: 8px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
  text-align: center;

}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}


a:hover {
  background-color: #444;
}
/* Ekran genişliği 513px ve üstü */
@media only screen and (min-width: 513px) {
  .content {
    margin-left: 20%; /* Varsayılan margin */
    padding: 20px; /* Varsayılan padding */
  }

  .sidebar-header {
    flex-direction: row; /* Varsayılan düzenleme */
  }

  .profile-image {
    width: 120px; /* Varsayılan profil resmi boyutu */
    height: 120px; /* Varsayılan profil resmi boyutu */
  }

  h2 {
    font-size: 1.5rem; /* Varsayılan başlık font boyutu */
  }
  
  ul {
    padding-left: 20px; /* Varsayılan liste içi padding */
  }

  li {
    margin: 10px 0; /* Varsayılan liste elemanı margin */
  }
}